html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(73, 240, 123);
    min-height: 100vh;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* top-bottom ordering */
    flex-direction: column;
    /* horizontal */
    justify-content: center;
    /* vertical */
    align-items: center;
    background: url('');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}